// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

params {

    // input + output
    input                      = null
    outdir                     = './results'

    // Parabricks 
    model_file                 = null
    interval_bed               = null
    known_sites                = null
    proposed_variants          = null

    // References
    genome                      = null 
    igenomes_base              = 's3://ngi-igenomes/igenomes'
    igenomes_ignore            = false
    
    // nextflow
    publish_dir_mode           = 'copy'

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '192.GB'
    max_cpus                   = 48
    max_time                   = '4.h'

}

profiles {
    test { includeConfig 'conf/test.config' }
    singlegpu { includeConfig 'conf/singlegpu.config' }
    quadgpu { includeConfig 'conf/quadgpu.config' }
    local { includeConfig 'conf/local.config' }
}


// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Load igenomes.config if required
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}