// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

params {

    // Parabricks 
    model_file = null
    interval_bed = null
    known_sites = null

    // References
    genome = null 
    igenomes_base              = 's3://elembio-macro-nvidia/parabricks/reference/igenomes'
    outdir                     = './results'
    publish_dir_mode           = 'copy'

}

profiles {
    test { includeConfig 'conf/test.config' }
}

// Load igenomes config 
includeConfig 'conf/igenomes.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'