// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

params {

    // References
    genome = null 
    igenomes_base = 's3://elembio-macro-nvidia/parabricks/reference/igenomes'

}

profiles {
    test { includeConfig 'conf/test.config' }
}

// Load igenomes config 
includeConfig 'conf/igenomes.config'