/*
========================================================================================
    nf-core/elemutils Nextflow base config file
========================================================================================
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {
    withLabel: 'gpu' {
        queue = 'ebc-ondemand-gpu'
    }
}