/*
========================================================================================
    Nextflow config file for iGenomes paths
========================================================================================
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'Homo_sapiens_assembly38' {
            fasta       = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa"
            fasta_fai   = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/"
            genome_file = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.dict"
            bwa         = "${params.igenomes_base}/Homo_sapiens_assembly38/bwa_index/"
        }
    }
}
