process {
  container = 'nvcr.io/nvidia/clara/clara-parabricks:4.3.0-1'
  maxForks = 1
  containerOptions = { workflow.containerEngine == "singularity" ? '--nv': 
    ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
}

docker.enabled = true

process {

    withName: PARABRICKS_FQ2BAM {
        accelerator = 1 //, type: 'nvidia-tesla-k80'
        cpus = 2
        memory = 4.GB
        time = 2.h
        maxRetries = 3   
    }

    withName: 'PARABRICKS_DEEPVARIANT' {
        accelerator = 1 //, type: 'nvidia-tesla-k80'
        cpus = 2
        memory = 4.GB
        time = 2.h
        maxRetries = 3
    }

}