/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: PARABRICKS_FQ2BAM {
        publishDir = [
            [
                path: { "${params.outdir}/Samples/${meta.id}/parabricks-fq2bam/" },
                mode: params.publish_dir_mode,
                pattern: "*.{log,bam,bai,txt}"
            ],
            [
                path: { "${params.outdir}/Samples/${meta.id}/parabricks-fq2bam/" },
                mode: params.publish_dir_mode,
                pattern: "qc_metrics/*.{txt,pdf,png}"
            ]
        ]
    }

    withName: 'PARABRICKS_DEEPVARIANT' {
        ext.suffix = { ".deepvariant" }
        publishDir = [
            path: { "${params.outdir}/Samples/${meta.id}/parabricks-deepvariant/" },
            mode: params.publish_dir_mode,
            pattern: "*.{log}"
        ]
    }

    withName: 'TABIX_BGZIPTABIX' {
        ext.suffix = { ".deepvariant" }
        publishDir = [
            path: { "${params.outdir}/Samples/${meta.id}/parabricks-deepvariant/" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,vcf.gz,tbi}"
        ]
    }

    withName: 'MULTIQC' {
        publishDir = [
            [
                path: { "${params.outdir}/multiqc/" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,yml}"
            ],
            [
                path: { "${params.outdir}/multiqc/" },
                mode: params.publish_dir_mode,
                pattern: "*_data"
            ],
            [
                path: { "${params.outdir}/multiqc/" },
                mode: params.publish_dir_mode,
                pattern: "*_plots"
            ]
        ]
    }
}

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 48
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 48
      uploadMaxThreads = 48
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 100
      uploadChunkSize = 32.MB
   }
   batch {
      maxParallelTransfers = 48
   }
}
