/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: PARABRICKS_FQ2BAM {
        ext.args = '--low-memory'
        publishDir = [
            path: { "${params.outdir}/Samples/${meta.id}/alignment/bwa_sorted" },
            mode: params.publish_dir_mode,
            pattern: "*.log"
        ]
    }

    withName: 'PARABRICKS_DEEPVARIANT' {
        ext.suffix = { ".deepvariant" }
        publishDir = [
            path: { "${params.outdir}/Samples/${meta.id}/small_variants/deepvariant/" },
            mode: params.publish_dir_mode,
            pattern: "*.{log}"
        ]
    }

}