/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: PARABRICKS_FQ2BAM {
        accelerator = 4 //, type: 'nvidia-h100'
        cpus = 46
        memory = 186.GB
        time = 1.h
        maxRetries = 3   
    }

    withName: 'PARABRICKS_DEEPVARIANT' {
        accelerator = 4 //, type: 'nvidia-tesla-k80'
        cpus = 46
        memory = 186.GB
        time = 1.h
        maxRetries = 3
    }

}