params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    
    // Limit resources so that this can run on GitHub Actions
    //max_cpus   = 2
    //max_memory = '6.5GB'
    //max_time   = '8.h'

    // Input data
    input = "${projectDir}/tests/csv/small_fastq.csv"

    // small genome on igenomes
    igenomes_base = "s3://ngi-igenomes/igenomes"

    // interal
    //target_region_bed = "s3://elembio-macro-data/exome/hg38_exome_comp_spikein_v2.0.2_targets_sorted.re_annotated.bed"
    
    // genome
    genome = "GRCh38"

    known_sites = null
    model_file = null
    proposed_variants = null

}
