params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    
    // genome
    genome = "Homo_sapiens_assembly38"

    // input
    input = "/home/ubuntu/parabricks-nextflow/test-input/small_fastq.csv"
    known_sites = "/home/ubuntu/parabricks_sample/Ref/Homo_sapiens_assembly38.known_indels.vcf.gz"
    interval_bed = null 
    model_file = null
    proposed_variants = null

}