params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.5GB'
    max_time   = '8.h'

    // Input data
    input = "${projectDir}/tests/csv/small_trinity_twist_fastq.csv"

    // small genome on igenomes
    igenomes_base = "s3://ngi-igenomes/igenomes"

    // enrichment
    target_region_bed = "s3://elembio-macro-data/exome/xgen-exome-hyb-panel-v2-targets-hg38.bed"
    assay = "WES"
    
    // genome
    genome = "GRCh38"
      
    // parabricks
    known_sites = ["s3://elembio-macro-data/gatk/Homo_sapiens_assembly38/1000G_phase1.snps.high_confidence.hg38.vcf.gz","s3://elembio-macro-data/gatk/Homo_sapiens_assembly38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz","s3://elembio-macro-data/gatk/Homo_sapiens_assembly38/dbsnp_144.hg38.vcf.gz"]
    model_file = null
    proposed_variants = null

}

cleanup = false

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 10
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 10
      uploadMaxThreads = 10
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 1000
      uploadChunkSize = 32.MB
   }
}
